body {
  margin: 0 auto;
  color: #a8a8a8;
}

h1 {
  font-weight: 300;
  text-align: left;
  color: black;
}

span > label {
  display: inherit;
}

input[type="checkbox"] {
  box-sizing: inherit;
  width: inherit;
  margin-top: 30px;
  margin-right: 10px
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
}

button {
  text-transform: uppercase;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0px;
  letter-spacing: 10px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
}

p {
  color: red;
}

.pannel {
  padding: 50px;
}

.pannel table {
  color: #a8a8a8;
}

.pannel table tr:first-child {
  display: none;
}

.pannel fieldset legend {
  margin-top: 30px;
  border-bottom: thin solid #a8a8a8;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.row-btn {
  margin-top: 30px;
}

.btn-primary, .btn-primary:hover {
  background-color: #fff;
  color: #000;
  border-color: #a8a8a8;
  box-shadow: 2px 2px #a8a8a8;
}

.btn-green, .btn-green:hover {
  background-color: #00e576;
  color: #fff;
  border-color: #00e576;
  box-shadow: 2px 2px #a8a8a8;
}
